<div ng-controller="NavbarController as ctrl">
    <md-toolbar md-theme="white" class="navbar md-primary md-hue-1">

        <div class="md-toolbar-tools" >
            <md-button class="logo" ui-sref="home.welcome({redir: state.params.redir})" hide-xs >
                QuestClear
                <!--<img class="logoImg" src="../images/logo.png">-->
            </md-button>
            <!-- fill up the space between left and right area -->
            <span flex ng-if="!user.uid" hide-xs></span>

            <div ng-if="!user.uid">
                <md-button class="md-raised md-accent" ui-sref="home.login({redir: state.params.redir})">登录</md-button>
                <md-button ui-sref="home.register({redir: state.params.redir})">注册</md-button>
            </div>

            <div ng-if="user.uid" layout="row" flex>
                <md-autocomplete
                        md-no-cache="ctrl.noCache"
                        md-selected-item="ctrl.selectedItem"
                        md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                        md-search-text="ctrl.searchText"
                        md-selected-item-change="ctrl.selectedItemChange(item)"
                        md-items="item in ctrl.querySearch(ctrl.searchText)"
                        md-item-text="item.display"
                        md-min-length="0"
                        placeholder="Anything you wander?" flex="60" flex-offset="10" flex-sm="30" flex-offset-lt-lg="5">
                    <md-item-template>
                        <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
                    </md-item-template>

                </md-autocomplete >

                <md-button class="md-icon-button" flex="10" flex-lt-lg="5">
                    <md-icon md-font-set="material-icons" ng-click="search()">search</md-icon>
                </md-button>

                <md-menu md-offset="0 42" md-position-mode="target-right target" flex="15" flex-offset="5" flex-lt-lg="10">
                    <md-button class="navbar-user" ng-click="$mdOpenMenu()">
                        <img class="user-avatar" src="images/user-avatar.svg" hide-xs />
                        <span>
                            {{user.username}}
                            <md-icon md-font-set="material-icons">keyboard_arrow_down</md-icon>
                        </span>
                    </md-button>

                    <md-menu-content class="navbar-menu">
                        <md-menu-item>
                            <md-button ui-sref="users({uid: user.uid})">用户信息</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button>推送通知</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ui-sref="quests">任务列表</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button>我的关注</md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <md-button ng-click="logout()">
                                退出登录
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </div>
    </md-toolbar>
</div>