<div ng-controller="NavbarController as ctrl">
    <md-toolbar md-theme="white" class="navbar md-primary md-hue-1">

        <div class="md-toolbar-tools" >
            <md-button class="logo" ui-sref="home.welcome({redir: state.params.redir})" hide-xs >
                QuestClear
            </md-button>
            <span flex ng-if="!user.uid" hide-xs></span>

            <div ng-if="!user.uid">
                <md-button class="md-raised md-accent" ui-sref="home.login({redir: state.params.redir})">登录</md-button>
                <md-button ui-sref="home.register({redir: state.params.redir})">注册</md-button>
            </div>

            <div ng-if="user.uid" layout="row" flex= flex-offset-gt-xs="10">
               <div layout="row" flex>

                   <md-input-container flex="60" flex-xs="30" flex-offset="10">
                       <label></label>
                       <input ng-model="query.keywords" ng-keyup="onSearchKeyUp($event)" placeholder="Anything you wander?">
                   </md-input-container>

                    <md-button class="md-icon-button" >
                        <md-icon md-font-set="material-icons" ng-click="search()">search</md-icon>
                    </md-button>

                </div>

                <md-menu md-offset="0 42" md-position-mode="target-right target"  flex-offset-gt-xs="5" >
                    <md-button class="navbar-user" ng-click="$mdOpenMenu()">
                        <img class="user-avatar" src="images/user-avatar.svg" />
                        <span hide-xs>
                            {{user.username}}
                            <md-icon md-font-set="material-icons">keyboard_arrow_down</md-icon>
                        </span>
                    </md-button>

                    <md-menu-content class="navbar-menu">
                        <md-menu-item>
                            <md-button ui-sref="users({uid: user.uid})">用户信息</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ui-sref="quests">任务列表</md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <md-button ng-click="logout()">
                                退出登录
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </div>
    </md-toolbar>
</div>