md-button .logo{
  width:150px !important;
  .logoImg{
    width:100% !important;
  }
}
.state-panel{
  //background-image: url("../../images/panel-bg-1-min.png");
  background-size: auto;
  md-card {
    //background: gray;
    margin:5% 10%;
    padding:5% 5%;
    .q-time .q-title .q-uid{
      padding:50px !important;
    }
  }

  .post {
    //background:transparent;
    margin: 5% 20%;
  }
  post-editor{

  }

  .searchArea{
    input,md-icon,label{
      position:relative !important;
      top:20px !important;
    }
  }
}