md-button .logo {
  width: 150px !important;
}
md-button .logo .logoImg {
  width: 100% !important;
}
.state-panel {
  background-size: auto;
}
.state-panel .add-quest {
  margin-right: 20px;
  margin-bottom: 0;
  cursor: pointer;
}
@media screen and (max-width: 599px) {
  .state-panel .add-quest {
    margin-right: 5px;
    margin-bottom: 10px;
  }
}
.state-panel .post {
  margin: 5% auto;
  max-width: 580px;
}
.state-panel post-editor md-input-container {
  width: 100%;
}
.state-panel .searchArea input,
.state-panel .searchArea md-icon,
.state-panel .searchArea label {
  position: relative !important;
  top: 20px !important;
}
.state-panel .state-panel-answer answer-editor .questInfo {
  margin: 10px 0 !important;
}
.state-panel .state-panel-answer answer-editor .questInfo .title {
  color: #259 !important;
}
.state-panel .state-panel-answer answer-editor .questInfo .time,
.state-panel .state-panel-answer answer-editor .questInfo .category {
  margin: 10px  0;
}
.state-panel .state-panel-answer answer-editor .title-container md-switch {
  margin: 0;
}
.state-panel .state-panel-answer answer-editor textarea {
  margin-top: 8px !important;
  border-width: 1px !important;
}
.state-panel .state-panel-answer answer-editor .add-step-container {
  cursor: pointer;
}
.state-panel .state-panel-answer answer-editor .add-step-container > * {
  display: inline-block;
  vertical-align: middle;
}
.state-panel .state-panel-answer answer-editor .add-step-container .button-add-step {
  padding-left: 0;
  padding-right: 0;
  margin-left: -5px;
  margin-right: 0;
}
.state-panel .state-panel-answer answer-editor .stepContainer {
  transition: height 0.5s ease-in-out;
  overflow: hidden;
}
.state-panel .state-panel-answer answer-editor .stepContainer .stepTitle {
  width: 400px;
}
.state-panel .state-panel-answer answer-editor .stepContainer.ng-enter {
  height: 0;
}
.state-panel .state-panel-answer answer-editor .stepContainer.ng-enter-active {
  height: 345px;
}
.state-panel .state-panel-answer answer-editor .stepContainer.ng-leave {
  height: 345px;
}
.state-panel .state-panel-answer answer-editor .stepContainer.ng-leave-active {
  height: 0;
}
