@default-font: "HanHei SC","PingHei","PingFang SC","STHeitiSC-Light", "Microsoft YaHei","Helvetica Neue","Helvetica","Arial",sans-serif;

body {
    font-family: @default-font;

    button, select, html, textarea, input {
        font-family: @default-font;
    }
}

.main-content {
    box-sizing: border-box;
    width: 1000px;
    margin: auto;
    padding: 20px 16px;
}

.section-toolbar {
    border-radius: 5px 5px 0 0;
}

.section-content {
    border-radius: 0 0 5px 5px;
}