<div class="state-home-login home-content" md-theme="home">
    <div layout="column" ng-cloak class="form md-inline-form md-whiteframe-z1">
        <md-toolbar class="md-primary md-hue-1 section-toolbar">
            <div class="md-toolbar-tools">
                <h3>登录</h3>
            </div>
        </md-toolbar>
        <md-content class="section-content">
            <div layout-gt-sm="row">
                <md-input-container class="md-block input-container" flex-gt-sm>
                    <label>用户名</label>
                    <input ng-model="username" placeholder=" ">
                </md-input-container>
            </div>
            <div layout-gt-sm="row">
                <md-input-container class="md-block input-container" flex-gt-sm>
                    <label>密码</label>
                    <input type="password" ng-model="password" placeholder=" ">
                </md-input-container>
            </div>
            <div ng-if="message" class="warning" layout-gt-sm="row">
                <p>{{message}}</p>
            </div>
            <div layout-gt-sm="row">
                <md-button class="md-raised md-accent" flex-gt-sm ng-click="login()" ng-disabled="waiting">
                    <md-progress-circular ng-if="waiting" class="md-hue-1" md-mode="indeterminate" md-diameter="16px"></md-progress-circular>
                    {{!waiting ? '登录' : '正在登录...'}}
                </md-button>
            </div>
        </md-content>
    </div>
</div>