<div layout="column">
    <md-card class="question" md-colors="grey">

        <span class="q-title"><a ui-sref="questions({qid: quest.qid})">{{quest.title}}</a></span>
        <span class="q-time">{{quest.time | date: 'yyyy-MM-dd HH:mm:ss'}}</span>
        <span class="q-category">
            <md-chips ng-model="quest.category" md-removable="false" readonly="true" ui-sref="panel.list({category: quest.category,
                keywords: undefined,
                uid: undefined
                })">
                <md-chip-template>
                  {{$chip}}
                </md-chip-template>
            </md-chips>
        </span>

        <md-card-actions layout="row" layout-align="start center" layout-xs="column" layout-align-xs="center stretch">
            <span ng-if="quest.uid" class="q-uid" ui-sref="panel.list({category: undefined,
                keywords: undefined,
                uid: quest.uid
                })">
                <i class="material-icons">people</i>
                <span>{{quest.username}}</span>
            </span>
            <span flex></span>
            <div layout="row" layout-align="end center">
                <md-button class="md-icon-button" aria-label="Favorite">
                    <i class="material-icons">visibility</i>
                </md-button>
                <md-button ui-sref="panel.answer({qid:quest.qid})" class="md-icon-button" aria-label="Settings">
                    <i class="material-icons">mode_edit</i>
                </md-button>

            </div>
        </md-card-actions>
    </md-card>
</div>